.fs-15 {
    font-size: 15px !important;
}
.fs-13 {
    font-size: 13px;
}
.h-250 {
    height: 250px;
}
.img-cover {
    object-fit: cover;
}
.img-contain {
    object-fit: contain;
}
.table-list-info p {
    margin-bottom: 3px;
}
.check-permission {
    width: 2em;
    height: 2em;
}

.form-list-filter .form-control,
.form-list-filter .form-select {
    font-size: 14px;
}

.pagination-list-text .page-item.active .page-link {
    color: #fff;
}

.alert-danger ul {
    margin-bottom: 0;
}
/* .modal-custom-delete */

.modal-custom-delete .modal .modal-content {
    background-color: #fff;
}

.modal-custom-delete .modal-content {
    border: none;
    padding: 2px 15px;
}
.modal-custom-delete.modal .modal-header,
.modal-custom-delete.modal .modal-footer {
    border: none;
}

.modal-custom-delete .btn-outline-secondary:hover {
    background-color: #e5e7eb !important;
    color: #000 !important;
}
/* .toggler {
    width: 72px;
    margin: 40px auto;
} */
/* .toggler-list-check{

} */

.card-create .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 10p;
    padding: 4px;
}

.card-create .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 39px;
    user-select: none;
    -webkit-user-select: none;
}

.card-create
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 36px;
    position: absolute;
    top: 1px;
    right: 5px;
    width: 20px;
}

.card-create .select2-dropdown {
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

.select2-container--default
    .select2-search--dropdown
    .select2-search__field:focus-visible {
    outline: none;
}

.seo-view {
    margin-top: 30px;
    background-color: #f9f9f6;
    padding: 20px;
    border: 1px dashed #d1d1d1;
    border-radius: 10px;
}
.seo-view .link {
    color: #202124;
}
.seo-view h5 {
    color: #1a0dab;
    padding: 2px 0 4px 0;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 0;
}

.icon-delete-album {
    cursor: pointer;
    right: -8px;
    top: -12px;
    /* background-color: #fff; */
}
.image-album {
    height: 90px;
    object-fit: cover;
    object-position: center center;
    cursor: move;
    width: 100%;
}
.image-post {
    width: 90px;
    min-width: 90px;
    height: 60px;
}
.post-catalgue-name {
    position: relative;
    display: block;
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 0;
    font-size: 13px;
}
.post-catalgue-name::after {
    content: "-";
    position: absolute;
    left: -8px;
    top: 40%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}

.post-catalgue-name:hover {
    text-decoration: underline;
}

.icon-delete-album:hover i {
    background-color: #d7062a;
    border-color: transparent;
    color: #fff;
}

.icon-delete-album i {
    color: #d7062a;
    border-radius: 5px;
    padding: 6px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
    transition: all 0.1s ease-in-out;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1); */
}

.click-to-upload {
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    border: 1px dashed #d6d6d6;
    padding: 100px 10px;
    color: #333333;
}
.click-to-upload:hover i {
    opacity: 1;
}

.click-to-upload i {
    opacity: 0.8;
    font-size: 40px;
    transition: opacity 0.1s ease-in-out;
}

.language-item-img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 4px;
    border-radius: 8px;
}

.toggler input {
    display: none;
}

.toggler label {
    display: block;
    position: relative;
    width: 60px;
    height: 30px;
    border: 1px solid #d6d6d6;
    border-radius: 36px;
    background: #e4e8e8;
    cursor: pointer;
}

.toggler label::after {
    display: block;
    border-radius: 100%;
    background-color: #d7062a;
    content: "";
    animation-name: toggler-size;
    animation-duration: 0.15s;
    animation-timing-function: ease-out;
    animation-direction: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;
}

.toggler label::after,
.toggler label .toggler-on,
.toggler label .toggler-off {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%) translateX(-50%);
    transition: left 0.15s ease-in-out, background-color 0.2s ease-out,
        width 0.15s ease-in-out, height 0.15s ease-in-out,
        opacity 0.15s ease-in-out;
}

.toggler input:checked + label::after,
.toggler input:checked + label .toggler-on,
.toggler input:checked + label .toggler-off {
    left: 75%;
}

.toggler input:checked + label::after {
    background-color: #50ac5d;
    animation-name: toggler-size2;
}

.toggler .toggler-on,
.toggler .toggler-off {
    opacity: 1;
    z-index: 2;
}

.toggler input:checked + label .toggler-off,
.toggler input:not(:checked) + label .toggler-on {
    width: 0;
    height: 0;
    opacity: 0;
}

.toggler .path {
    fill: none;
    stroke: #fefefe;
    stroke-width: 7px;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

@keyframes toggler-size {
    0%,
    100% {
        width: 26px;
        height: 26px;
    }

    50% {
        width: 20px;
        height: 20px;
    }
}

@keyframes toggler-size2 {
    0%,
    100% {
        width: 26px;
        height: 26px;
    }

    50% {
        width: 20px;
        height: 20px;
    }
}
