body {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.header-brand a {
    display: block;
    width: 70px;
}

.axil-product > .thumbnail > a img {
    width: 100%;
    border-radius: 6px;
    transition: 0.3s;
    min-width: 276px;
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    mix-blend-mode: darken;
    padding: 25px;
}

.axil-product > .thumbnail > a {
    display: block;
    background-color: #f7f7f7;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    height: 300px;
    width: 300px;
    min-width: 276px;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    display: grid;
    place-content: center;
}
.axil-product .product-content .product-price-variant span.price.old-price {
    font-size: 14px;
}
.axil-product-list .product-content .product-price-variant .price.old-price {
    font-size: 14px;
}
.axil-product-list .thumbnail img {
    border-radius: 6px;
    transition: var(--transition);
    width: 90px;
    height: 90px;
    -o-object-fit: contain;
    object-fit: contain;
    mix-blend-mode: darken;
}
.axil-product-list .thumbnail a {
    background-color: #f7f7f7;
    border-radius: 6px;
    display: block;
    transition: var(--transition);
}

.axil-product-list .product-content .product-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.axil-product .product-content .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product-pagination {
    .pagination {
        position: relative;
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        align-items: center;
        margin: -3px;
        padding: 0;

        .page-link {
            line-height: 42px;
            min-width: 42px;
            text-align: center;
            color: var(--color-heading);
            transition: all 0.2s;
            display: block;
            padding: 0 15px;
            transition: all 0.5s;
            border: 1px solid var(--color-border-light);
            border-radius: var(--radius-small);
            font-size: 16px;

            &:hover {
                background: var(--color-primary);
                color: #fff;
                border-color: var(--color-primary);
            }
        }
        .page-item {
            margin: 4px;

            &.active .page-link {
                background: var(--color-primary);
                color: #fff;
                border-color: var(--color-primary);
            }
            &.disabled {
                display: none;
            }
        }
    }
}
.single-product-content {
    .price-amount {
        .price {
            margin: 4px;
            color: var(--color-heading);
            font-weight: 700;
            font-size: 30px;
            font-family: var(--font-secondary);
            color: var(--color-success);
            &.old-price {
                color: #d6d6d6;
                text-decoration: line-through;
                margin-left: 0;
                font-size: 20px;
            }
        }
    }
}

.range-variant li {
    user-select: none; /* Không cho phép bôi đen văn bản */
    -webkit-user-select: none; /* Đối với trình duyệt Webkit (Chrome, Safari) */
    -moz-user-select: none; /* Đối với Firefox */
    -ms-user-select: none; /* Đối với Internet Explorer/Edge */
}

.axil-breadcrumb-area .inner .title {
    font-size: 22px;
}
.single-product-content .inner .product-title {
    font-size: 32px;
}
