body {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.header-brand a {
    display: block;
    width: 70px;
}

.axil-product > .thumbnail > a img {
    width: 100%;
    border-radius: 6px;
    transition: 0.3s;
    min-width: 276px;
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    mix-blend-mode: darken;
    padding: 25px;
}

.axil-product > .thumbnail > a {
    display: block;
    background-color: #f7f7f7;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    height: 300px;
    width: 300px;
    min-width: 276px;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    display: grid;
    place-content: center;
}
.axil-product .product-content .product-price-variant span.price.old-price {
    font-size: 14px;
}
