@charset "UTF-8";
body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.header-brand a {
  display: block;
  width: 70px;
}

.axil-product > .thumbnail > a img {
  width: 100%;
  border-radius: 6px;
  transition: 0.3s;
  min-width: 276px;
  max-width: 300px;
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: darken;
  padding: 25px;
}

.axil-product > .thumbnail > a {
  display: block;
  background-color: #f7f7f7;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  height: 300px;
  width: 300px;
  min-width: 276px;
  max-width: 300px;
  max-height: 300px;
  text-align: center;
  display: grid;
  place-content: center;
}

.axil-product .product-content .product-price-variant span.price.old-price {
  font-size: 14px;
}

.axil-product-list .product-content .product-price-variant .price.old-price {
  font-size: 14px;
}

.axil-product-list .thumbnail img {
  border-radius: 6px;
  transition: var(--transition);
  width: 90px;
  height: 90px;
  -o-object-fit: contain;
  object-fit: contain;
  mix-blend-mode: darken;
}

.axil-product-list .thumbnail a {
  background-color: #f7f7f7;
  border-radius: 6px;
  display: block;
  transition: var(--transition);
}

.axil-product-list .product-content .product-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.axil-product .product-content .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-pagination .pagination {
  position: relative;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  margin: -3px;
  padding: 0;
}
.product-pagination .pagination .page-link {
  line-height: 42px;
  min-width: 42px;
  text-align: center;
  color: var(--color-heading);
  transition: all 0.2s;
  display: block;
  padding: 0 15px;
  transition: all 0.5s;
  border: 1px solid var(--color-border-light);
  border-radius: var(--radius-small);
  font-size: 16px;
}
.product-pagination .pagination .page-link:hover {
  background: var(--color-primary);
  color: #fff;
  border-color: var(--color-primary);
}
.product-pagination .pagination .page-item {
  margin: 4px;
}
.product-pagination .pagination .page-item.active .page-link {
  background: var(--color-primary);
  color: #fff;
  border-color: var(--color-primary);
}
.product-pagination .pagination .page-item.disabled {
  display: none;
}

.single-product-content .price-amount .price {
  margin: 4px;
  color: var(--color-heading);
  font-weight: 700;
  font-size: 30px;
  font-family: var(--font-secondary);
  color: var(--color-success);
}
.single-product-content .price-amount .price.old-price {
  color: #d6d6d6;
  text-decoration: line-through;
  margin-left: 0;
  font-size: 20px;
}

.range-variant li,
.pro-qty .qtybtn {
  user-select: none; /* Không cho phép bôi đen văn bản */
  -webkit-user-select: none; /* Đối với trình duyệt Webkit (Chrome, Safari) */
  -moz-user-select: none; /* Đối với Firefox */
  -ms-user-select: none; /* Đối với Internet Explorer/Edge */
}

.axil-breadcrumb-area .inner .title {
  font-size: 22px;
}

.single-product-content .inner .product-title {
  font-size: 32px;
}

.range-variant .choose-attribute.invalid {
  border-color: var(--color-danger);
}

.swal2-popup {
  font-size: 1.6rem !important;
}

.swal2-styled {
  width: auto !important;
}

.swal2-title {
  font-weight: 500 !important;
}

.single-payment img {
  height: 30px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 60px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  border-color: var(--color-light);
  font-size: var(--font-size-b2);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--color-heading) !important;
  line-height: 58px;
  padding-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 60px;
  position: absolute;
  top: 1px;
  right: 6px;
  width: 20px;
}

.select2-results__option--selectable {
  font-size: var(--font-size-b2);
}

.order-product .img-product {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid var(--bs-border-color);
  border-radius: 0.375rem;
  max-width: 100%;
  height: 55px;
  border-color: transparent !important;
  mix-blend-mode: darken;
  -o-object-fit: contain;
     object-fit: contain;
}
.order-product .price {
  font-weight: 600;
  color: var(--color-heading);
}
.order-product .price del {
  font-size: 14px;
  display: block;
  line-height: 1;
  font-weight: 500;
}

.cart-dropdown .cart-item .item-img a img {
  border-radius: 10px;
  height: 90px;
  width: 90px;
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: darken;
}
.cart-dropdown .cart-item .item-price del {
  font-size: 14px;
}

.cart-dropdown .cart-body {
  padding: 30px 8px;
  flex: auto;
  overflow-y: auto;
}
.cart-dropdown .cart-body::-webkit-scrollbar {
  width: 5px;
}
.cart-dropdown .cart-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.cart-dropdown .cart-body::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.6);
  border-radius: 10px;
}
.cart-dropdown .cart-body::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.6);
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #dc3545 !important;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(1em + 1rem) calc(0.8em + 0.375rem);
}

.order-complete {
  margin-top: 50px;
  width: 110rem;
  max-width: 100%;
  margin: 3.125rem auto;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  margin-bottom: 100px;
}
.order-complete .order-complete__message {
  text-align: center;
}
.order-complete .order-complete__message h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 35px;
}
.order-complete .order-complete__message p {
  font-size: 14px;
}
.order-complete .order-info {
  width: 100%;
  border: 2px dashed #767676;
  padding: 4rem;
  display: flex;
  border-radius: 8px;
  gap: 2rem;
}
.order-complete .order-info .order-info__item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex-grow: 1;
}
.order-complete .order-info .order-info__item label {
  font-size: 1.4rem;
  font-weight: 400;
  color: #767676;
}
.order-complete .order-info .order-info__item span {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-heading);
}
.order-complete .checkout__totals {
  border: 1px solid #222;
  margin-bottom: 1.25rem;
  padding: 40px;
  padding-bottom: 8px;
  width: 100%;
  border-radius: 8px;
}
.order-complete .checkout__totals h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.order-complete .checkout__totals th {
  border-bottom: 1px solid #e4e4e4;
  padding: 1.4rem 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-heading);
}
.order-complete .checkout__totals td {
  padding-top: 13px;
  padding-bottom: 6px;
  padding-left: 0;
  color: #767676;
  font-size: 14px;
}
.order-complete .checkout__totals tr:last-child td {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e4e4e4;
}
.order-complete .checkout__totals .img-product {
  border: none;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  mix-blend-mode: darken;
}
.order-complete .checkout__totals .price {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--color-heading);
}
.order-complete .checkout__totals .price del {
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
}
.order-complete .checkout__totals .info-address p {
  margin-bottom: 6px;
}
.order-complete .checkout__totals .info-address span {
  font-weight: 600;
  color: var(--color-heading);
}
.order-complete .checkout-totals-2 th {
  font-weight: 600;
}
.order-complete .checkout-totals-2 td {
  border-bottom: 1px solid #e4e4e4;
  color: var(--color-heading);
  font-weight: 600;
}
.order-complete .checkout-totals-2 tr:last-child td,
.order-complete .checkout-totals-2 tr:last-child th {
  border-bottom: none;
  padding-bottom: 0;
}

.filter-star i {
  color: #d6d6d6;
}
.filter-star i.active {
  color: #ffcc00;
}

.reviews-wrapper {
  background: var(--color-white);
  padding: 50px;
  border-radius: 6px;
  margin-bottom: 40px;
}
.reviews-wrapper .line {
  margin: 20px 0;
  border-bottom: 1px solid #e4e4e4;
}
.reviews-wrapper .user-rating-box .average-star {
  display: flex;
  align-items: center;
  gap: 4px 0;
  justify-content: center;
  flex-direction: column;
}
.reviews-wrapper .user-rating-box .average-star h5 {
  font-weight: normal;
  color: var(--color-heading);
  margin-bottom: 0;
  font-size: 19px;
}
.reviews-wrapper .user-rating-box .average-star .rating {
  font-size: 50px;
  color: var(--color-primary);
  margin-bottom: 0;
}
.reviews-wrapper .user-rating-box .average-star .star {
  color: #ffcc00;
  font-size: 13px;
}
.reviews-wrapper .user-rating-box .average-star .star-rating-total {
  font-size: 14px;
}
.reviews-wrapper .user-rating-box .progress-block .progress-block__line {
  display: flex;
  align-items: center;
}
.reviews-wrapper .user-rating-box .progress-block .progress-block__line .text {
  font-size: 14px;
  color: var(--color-heading);
}
.reviews-wrapper .user-rating-box .progress-block .progress-block__line .star {
  display: flex;
  align-items: center;
}
.reviews-wrapper .user-rating-box .progress-block .progress-block__line .star .text {
  line-height: 1;
  width: 8px;
  text-align: center;
}
.reviews-wrapper .user-rating-box .progress-block .progress-block__line .star i {
  color: #ffcc00;
  font-size: 13px;
  margin: 0 4px;
}
.reviews-wrapper .user-rating-box .progress-block .progress-block__line .progress {
  height: 10px;
  width: 280px;
  background: #edeeef;
  margin: 0 4px;
}
.reviews-wrapper .user-rating-box .progress-block .progress-block__line .progress-bar {
  background: var(--color-success);
}
.reviews-wrapper .user-rating-box .action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  flex-direction: column;
  color: var(--color-heading);
}
.reviews-wrapper .user-rating-box .action .action-btn {
  font-size: 16px;
  margin-top: 8px;
  color: var(--color-white);
}
.reviews-wrapper .filter {
  padding: 0 20px;
}
.reviews-wrapper .filter .tags {
  display: flex;
  align-items: center;
}
.reviews-wrapper .filter .filter-list {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.reviews-wrapper .filter .filter-list .filter-item {
  cursor: pointer;
  font-size: 14px;
  color: var(--color-heading);
  border: 1px solid #e4e4e4;
  padding: 0.25rem 1rem;
  border-radius: 4px;
  transition: all linear 0.2s;
}
.reviews-wrapper .filter .filter-list .filter-item i {
  display: none;
  margin-right: 5px;
  font-size: 12px;
}
.reviews-wrapper .filter .filter-list .filter-item.active {
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.reviews-wrapper .filter .filter-list .filter-item.active i {
  display: inline-block;
}
.reviews-wrapper .filter .filter-list .filter-item:hover {
  color: var(--color-white);
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}
.reviews-wrapper .user-wrapper .user-block {
  margin-bottom: 30px;
}
.reviews-wrapper .user-wrapper .user-block.reply {
  margin-top: -12px;
  margin-left: 64px;
}
.reviews-wrapper .user-wrapper .user-block.reply .avatar-info {
  padding: 8px 12px;
  border: 1px solid #e1e4e6;
  border-radius: 6px;
  background: #f8f9fa;
}
.reviews-wrapper .user-wrapper .user-block .avatar {
  display: flex;
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-shape {
  border-radius: 50%;
  border: 1px solid #e4e4e4;
  width: 50px;
  height: 50px;
  margin-right: 16px;
  color: #fff;
  display: grid;
  place-content: center;
  font-size: 20px;
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-shape .avatar-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-shape.avatar-shape-text {
  background: #cbd1d6;
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-info {
  width: 100%;
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-info .avatar-name {
  display: flex;
  align-items: center;
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-info .avatar-name .text {
  font-size: 18px;
  line-height: 24px;
  color: var(--color-heading);
  font-weight: 500;
  margin-right: 8px;
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-info .avatar-name .verify {
  font-size: 14px;
  color: var(--color-success);
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-info .avatar-name .verify i {
  font-size: 12px;
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-info .avatar-name .badge-grayscale {
  background: #939ca3;
  color: #fff;
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-info .avatar-rate {
  margin-top: 4px;
  margin-bottom: 3px;
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-info .avatar-rate .star {
  color: #ffcc00;
  font-size: 13px;
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-info .avatar-para {
  color: #444b52;
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-info .avatar-time {
  display: flex;
  align-items: center;
  gap: 0 6px;
  font-size: 14px;
  line-height: 1;
  margin-top: 4px;
  margin-bottom: 3px;
  color: #939ca3;
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-info .avatar-time i {
  font-size: 3px;
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-info .avatar-time .link {
  color: var(--color-primary);
  position: relative;
  cursor: pointer;
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-info .avatar-time .link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #0664f9;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0, 0, 0.4, 1);
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-info .avatar-time .link:hover::after {
  transform: scaleX(1);
}
.reviews-wrapper .user-wrapper .user-block .avatar .avatar-info .avatar-time .link.link-icon i {
  font-size: 11px;
  margin-right: 4px;
}

.review-comment-modal .modal-dialog {
  max-width: 600px;
}
.review-comment-modal .user-rate__modal {
  text-align: center;
}
.review-comment-modal .user-rate__modal img {
  width: 96px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 15px;
}
.review-comment-modal .user-rate__modal .h6.medium {
  margin-bottom: 15px;
}
.review-comment-modal .rating-wrapper {
  flex-direction: column;
}
.review-comment-modal .rating-wrapper .star {
  color: #cecece;
  cursor: pointer;
  font-size: 25px;
  padding-right: 4px;
  transition: all ease-in-out;
  transition: var(--transition);
}
.review-comment-modal .rating-wrapper .star.selected {
  color: #ffcc00;
}
.review-comment-modal .rating-wrapper .text {
  color: var(--color-heading);
}
.review-comment-modal .form-group {
  margin-bottom: 15px;
}

.stars-percent {
  position: relative;
  white-space: nowrap;
}
.stars-percent svg {
  width: 16px;
  fill: #ffcc00;
}
.stars-percent .overlay {
  background: #fff;
  height: 100%;
  overflow: hidden;
  mix-blend-mode: color;
  position: absolute;
  top: 0;
  right: 0;
}

.form-check-label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.product-price-range .ui-slider-handle {
  border-radius: 50%;
  background: #fff;
  border: 1px solid #e4e4e4 !important;
  width: 17px !important;
  height: 17px !important;
  cursor: pointer;
}
.product-price-range .ui-slider-range {
  background: var(--color-primary) !important;
  border-radius: 0 !important;
}
.product-price-range .amount-range {
  border: 1px solid #e4e4e4 !important;
  padding: 8px !important;
  text-align: center;
}/*# sourceMappingURL=custom.css.map */